<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this is from homepage</title>
    <link rel="stylesheet" type="text/css"  href="./styles/homepage.css"/>  
    <style>
      .edit-btn,
      .del-btn{
        width:50px;
        height:16px;
        text-align: center;
        vertical-align: 10px;
        background-color: orange;
        text-decoration: none  ;
        color:black;
        border:1px solid gray;
        font-weight: 600;
        padding:8px 5px 5px 5px;
        margin-right:10px;
      }
      tr{
        height:35px;
        
      }
      .btn-group{
        display:flex;
        justify-content: center;
        align-items: center;
        height:50px;
        border:none;
      }


    </style>
    
</head>
<body>
    <p>this is from homepage.ejs</p>
    <table>
        <tr>
          <th>Email</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Address</th>
        </tr>
        <% 
        for(let i = 0;i<data.length;i++){ %>
            <tr>
              <td><%= data[i].email  %></td>
              <td><%= data[i].firstName  %></td>
              <td><%= data[i].lastName  %></td>
              <td><%= data[i].address  %></td>
              <td >
                <div class="btn-group">

                  <a href="/edit/?id= <%= data[i].id %> " class="edit-btn">Edit</a>
                  <a href="/del/?id= <%= data[i].id %>" class="del-btn">Del</a>
                </div>

              </td>
            </tr>
        <% } %>
       
      </table>
    
</body>
</html>